/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5deb3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
header{
    border: 5px solid #000000;
    padding: 20px;
    box-shadow: 2px 3px 5px #000000;
    background: linear-gradient(to bottom, #ffa500, #adff2f);
}

header h1{
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    display: block;
    padding: 20px;
    text-align: center;
    background-color: #8a2be2;
    color: #ffffff;
    border-top: 2px solid #000000;
}

nav a:hover{
    background-color: #8b0000;
}

main{
    background-color: #20b2aa;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 115px;
    padding: 20px;
    border-radius: 20px;
}

section h2{
    text-align: center;
    padding: 10px;
}

section p{
    text-align: justify;
    padding: 10px;
    font-size: 1rem; /* 1 rem = 16px */
}

footer{
    background: linear-gradient(to top, #ffa500, #adff2f);
    padding: 20px;
    text-align: center;
    box-shadow: 0px -3px 5px #008000;
    position: fixed;
    width: 100%;
    bottom: 0;
}